<p>Hello <%= @user.name %>,<p>

<p>We received a request to reset your Busy Bee password.</p>

<p>
  <%= link_to "Reset My Password", @reset_url %>
</p>

<p>This link will expired in 2 hours.</p>

<p>If your did not request this, you could safely ignore this email.</p>